* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.alert {
  border-radius: 0;
}

.navbar-brand img {
  height: 18px;
}

.btn {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  letter-spacing: -1px;
  border-radius: 2px;
}

nav .nav-item {
  font-size: 15px;
}

nav .nav-item .nav-link {
  color: #000 !important;
}

nav .nav-item .dropwdown-item {
  font-size: 18px;
}

nav .btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
}

main .principal .mg-btn-green {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 126, 50, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 126, 50, 0.4);
}

main .principal p a {
  text-decoration: underline;
  color: #000;
}

main .principal p a:hover {
  text-decoration: none;
}

main .mg-carousel .carousel-inner img {
  height: 50px;
}

main .mg-bg-green {
  background: #f3f7f7;
}

main .mg-bg-green .uppertitle {
  font-size: 12px;
}

main .mg-bg-green h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 27px;
  letter-spacing: -2px;
}

main .mg-bg-green .normalp {
  font-size: 20px;
  max-width: 340px;
}

main .mg-bg-green .btn {
  font-size: 18px;
}

main .celebrating {
  color: #fff;
}

.mg-bg-dual {
  background: -webkit-gradient(linear, left top, right top, from(#00afe6), color-stop(50%, #00afe6), color-stop(51%, #f0a815), to(#f0a815));
  background: linear-gradient(to right, #00afe6 0%, #00afe6 50%, #f0a815 51%, #f0a815 100%);
}

footer .mg-bg-footer-gray {
  background: -webkit-gradient(linear, left top, left bottom, from(#eaf7f7), color-stop(50%, white), to(white));
  background: linear-gradient(to bottom, #eaf7f7 0%, white 50%, white 100%);
}

footer .mg-bg-footer-gray .mg-title {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 3px;
  color: gray;
  padding: 25px 0 12px 0;
}

footer .mg-bg-footer-gray .mg-subitems {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .mg-bg-footer-gray .mg-subitems a {
  display: inline-block;
  color: gray;
  padding: 4px 0;
}

footer .mg-bg-footer-gray .mg-circulo-medio {
  text-align: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

footer .mg-bg-footer-gray .mg-bg-hr a {
  font-size: 35px;
  color: #32C766;
}

footer .mg-bg-footer-gray .mg-bg-fb {
  background: #3b5998;
}

footer .mg-bg-footer-gray .mg-bg-fb a {
  color: #f3f7f7;
  font-size: 14px;
}

footer .mg-bg-footer-gray .mg-bg-in {
  background: #0077b5;
}

footer .mg-bg-footer-gray .mg-bg-in a {
  color: #f3f7f7;
  font-size: 14px;
}

footer .mg-bg-footer-gray .mg-bg-tw {
  background: #1da1f2;
}

footer .mg-bg-footer-gray .mg-bg-tw a {
  color: #f3f7f7;
  font-size: 14px;
}

.mg-alertafinal .container .mg-small-p {
  font-size: 13px !important;
}

@media screen and (max-width: 1200px) {
  .container,
  .alert {
    margin-left: 0;
    margin-right: 0 !important;
    max-width: unset !important;
  }
}

@media screen and (max-width: 992px) {
  .mg-bg-dual {
    background: #00afe6;
  }
  .navbar .container .navbar-nav {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important;
    width: 300px;
    min-height: 100vh;
    padding: 0 40px;
    -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.3);
  }
  .mg-cierre {
    padding: 40px;
  }
  .mg-cierre span {
    font-size: 40px;
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  .navbar .container .navbar-nav {
    width: 100%;
  }
}
/*# sourceMappingURL=estilo.css.map */